In [1]:
print("hello")

hello

In [2]:
# The code was removed by Watson Studio for sharing.

     ID  AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2
0  8754             0             0             0             0             0
1  1456             0             0             0             0             0
2  2849             0             0             0             0             0
3  9984             1             0             0             1             0
4  5527             0             0             0             0             0